/* ## Colors

- White: hsl(0, 0%, 100%)

- Slate 300: hsl(212, 45%, 89%)
- Slate 500: hsl(216, 15%, 48%)
- Slate 900: hsl(218, 44%, 22%) */
:root{
 --clr-300: hsl(212, 45%, 89%);
 --clr-500: hsl(216, 15%, 48%);
 --clr-900: hsl(218, 44%, 22%); 
--clr-white: hsl(0, 0%, 100%);

--ff-san:'Outfit' ,sans-serif;

--fw-400:400;
--fw-700:700;
}

*,
::after,
::before{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

html{
    font-family:var(--ff-san);

}


h1{
    font-weight: var(--fw-700);
    line-height: 1.1;
}
p{
    font-weight: var(--fw-400);
}

img{
    width:100%;
}


body{
    font-size:15px;
    background-color: var(--clr-300);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:1.25rem;
}

.container{
    background-color: var(--clr-white);
    padding:1rem;
    border-radius:1rem;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
    margin-bottom:2rem;
    max-width:375px;
}

.container img{
    border-radius:0.625rem;
    margin-bottom:1rem;
}
h1{
    color:var(--clr-900);
    text-align:center;
}

p{
    color:var(--clr-500);
    text-align:center;
    margin-top:1rem;
    margin-bottom:2rem;
    line-height:1.5;
}